*{
    font-family: 'Courgette', cursive;
    margin:0px;
    padding:0px;
}
/*home(index) page*/
div.backgroundPhoto{
    background: url(pictures/home\ page/backgroundPhoto.jpg);
    background-repeat:no-repeat;
    width: 100%;
    background-position: 20%;
    height: auto;
}
div.nameOfCompany{
    margin:auto;
    width:80%;
    height: auto;
    border-top-width: 146px;
    background-color: #ffffff;
    opacity: 0.6;
    padding-left:30px;
}
div.nameOfCompany {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 950%;
    text-align: center;
}
div.nameOfCompany p2{
    font-size: 750%;  
    padding-left: 25%;
}

div.a1{
    background-color: #E5E4E2;
    background-position: center;
    width: 80%;
    height: 57.5%;
    margin-left: 10%;
}

    /*for pictures*/
.products{
    height: 400;
    width: 360;
}
.-mt2 {
    padding-top: 2em !important;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
img{
    margin-right: 20;
}
.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    flex-grow: 1;
    min-width: 12em;
    display: flex;
    flex-direction: column;
}
.-h100 {
    height: 100%;
    margin-left: 48px;
}
.-pr {
    position: relative;
}
*, *:after, *:before {
    box-sizing: border-box ;
}

/*Contact us page*/
.package{
    margin-left: 35%;
    padding-top: 4%;
}
.image{
    width: 10%;
    height: 10%;
}
.email{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 350%;
    padding-bottom: 10%;
}
div.a-contactUs{
    background-color: #E5E4E2;
    background-position: center;
    width: 80%;
    height: 100%;
    padding-top: 8.8%;
    padding-bottom: 13%;
    margin-left: 10%;
}
