*{
    font-family: 'Courgette', cursive;
    margin:0px;
    padding:0px;
}
.menu{
    width:100%;
    text-align:center;
    box-shadow:0px 0px 20px rgb(30, 78, 30);
    border:black;
}
.title-site-container{
    text-align:center;
    padding:20px;
}
.title{
    font-size:250%;
    color:black;
    margin:1px;
    font-weight:lighter;
}
.title:hover{
    cursor:pointer;
}
.choosing-menu{
    text-align:center;
    padding:10px;
    vertical-align: middle;
}
.item{
    padding-left:4px;
    padding-right:4px;
    font-size:120%;
    color:black;
    text-decoration: none;
    vertical-align: middle;
}
.home-image{
    width:2%;
    vertical-align: middle;
    padding-right:3px;
}
.cart-image{
    width:2%;
    vertical-align: middle;
    padding-right:3px;
}
.information-image{
    width:2%;
    vertical-align: middle;
    padding-right:3px;
}
.conection-image{
    width:2%;
    vertical-align: middle;
    padding-right:3px;
}
.item-mini-container{
    padding-right:5px;
    padding-left:5px;
}